@page
@model ccse_cw1.Pages.TempSolution.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HotelBooking[0].CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelBooking[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelBooking[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelBooking[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelBooking[0].HotelID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HotelBooking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.HotelID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HotelBookingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HotelBookingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HotelBookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
